version: '3.8'
services:
  postgres:
    image: postgres:15
    container_name: todolist-node-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: todolist
    ports:
      - '5432:5432'
